{% extends 'accueil.html.twig' %}

{% block title %}Categorie{% endblock %}
{% block h1 %}<h1 class="h3 mb-0 text-gray-800">Categories</h1>{% endblock %}
{% block body %}
   <div class="row">
     <div class="container col-md-6">
      <div class="card">
         <div class="card-header">Liste des categories</div>
        <div class="card-body">
       <table class="table table-striped table-bordered">
          <tr>
            <th>Id</th>
            <th>Libelle</th>
          </tr>
          {% for c in categories %}
             <tr>
                <td>{{ c.id }}</td>
                <td>{{ c.nom }}</td>
             </tr>
          {% endfor %}
       </table>
      </div>
   </div>   
     </div>
     <div class="container col-md-6">
      <div class="card">
         <div class="card-header">Formulaire de gestion des categories</div>
        <div class="card-body">
              {% for message in app.flashes('success') %}
          <div class="card-header alert alert-success">
           {{ message }}
             </div>
           {% endfor %}
       {{ form(form)}}
      </div>
   </div>  
   </div> 
   </div>
{% endblock %}
